# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media/
static/

# Virtual Environment
env/
.env

# IDEs and Editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Miscellaneous
.DS_Store